extends layout

block content
  h1 Hakkımızda
  p
    | Technomin Web Solutions Türkiye'nin önde gelen reklam, web tasarımı ve İnternet sektörünün önemli firmalarında çalışmış kişilerin bir araya gelerek oluşturdukları bir İnternet Tasarım ve Yazılım Firmasıdır. 
  p
    | Teknoloji öyle hızlı ilerliyorki artık "acaba bugün ne yenilik var, yeni ne çıktı" diye merak ediyoruz. 
    br
    br
    | İnternet dünyası da farksız değil, her zaman daha iyisi, daha yenisi peşinde koşuyoruz. Ve web sitelerininin her gün yenilendiğini, dinamikleştiğini, görsel ve altyapı olarak geliştirildiğini görüyoruz. Yeni teknolojileri takip edemiyorsak, yaptığımız işte adım adım geriye gidiyoruz demektir.
    | Kurumsal imajı İnternet'e taşımak firmanın logosunu, renklerini web sayfalarına taşımaktan daha ötedir. Firmanın ofisinden içeri girdiğinizdeki hava, web sitesine girdiğinizde yok ise bize göre bu site başarılı sayılmaz.
  p
    | Televizyon, radyo ve gazetelerde ne varsa bu mecralara göre daha hızlı bir şekilde artık İnternet'te var. Peki bunu sağlayan nedir? Tabiki farklı içeriklere özgü içerik yönetim sistemleri üretmek, en uygun olanı en yeni teknolojiyi hatasız uygulamaktır. Technomin WS, içeriği yönetilebilir kılmak için görsel tasarımdan veri tabanı dizaynına kadar birçok bağımsız süreci bir araya getirir. Kontrolün her zaman elinizde olmasını sağlar. Bize göre; "problemin ne olduğunu biliyorsan, çözüme yaklaşmışın" demektir.
  p
    | İhtiyaçınıza yönelik internet çalışmalarımızı 
    b Technomin Web Solutions
    |  bölümünde görebilirsiniz.
  p
    | İş Geliştirm, Web barındırma, Server Kurulum, Ağ kurulumu, İnternet Danışmanlık, Hosting  Seçimi
    br
    | konularında çözümler üretilir.
  p
    | BU ÖDEV İÜ CERRAHPAŞA BİLGİSAYAR MÜHENDİSLİĞİ ÖĞRENCİSİ;
    br
    b ERTUĞRUL AYVAZ GÜRKAN 
    | tarafından yapılmıştır.
    br
    b Öğrenci No: 1306161416