extends layout

block content
    script(src='angular.js')
    .container(ng-app='ContactForm')
      h1 İletişim
      form(name='cf', ng-controller='cfController as cfCtrl', ng-submit='submitForm(cf.$valid)', novalidate='')
        .form-group
          label(for='name') İsim
          input.form-control(type='text',class="", name='name', ng-model='name', required='')
        .form-group
          label(for='email') Email (opsiyonel)
          input.form-control(type='email', name='email')
        .form-group
          label(for='msg') Mesajınız
          textarea.form-control(name='message', rows='4', ng-model='msg', required='')
        input(type='submit', value='Send', ng-disabled='cf.$invalid')
